<!-- views/partials/footer.ejs -->
<div class="footer">
    <div class="container justify-content-center">
        <div class="inner-footer">
            <div class="footer-items">
                <h6>Quick Links</h6>
                <div class="border"></div><br>
                <ul>
                    <a href="">
                        <li>Blog</li>
                    </a>
                    <a href="">
                        <li>Forum</li>
                    </a>
                </ul>
            </div>
            <div class="footer-items">
                <h6>Learn more</h6>
                <div class="border"></div><br>
                <ul>
                    <a href="">
                        <li>Help and support</li>
                    </a>
                    <a href="">
                        <li>About us</li>
                    </a>
                </ul>
            </div>

            <div class="footer-items">
                <h2></h2>
                <div class="social-media">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        Copyright &copy; 2019 Coursebee, Inc. All rights reserved.
        <br>
        Powered by Kernel Technologies.
    </div>
</div>