<DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="navbar" content="">
    <meta name="THE 10 IUTIANS" content="">
    <title>CourseBee</title>
    <!--Bootsrap cdn-->
    <link rel="icon" href="./public/images/savicon.png">
    <link rel='stylesheet' type='text/css' href='./public/instructPro.css' />
    <link rel="stylesheet" type="text/css" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./public/css/Page_Footer.css">
    <script type="text/javascript" src="./public/js/popper.min.js"></script>
    <script type="text/javascript" src="./public/js/jquery.min.js"></script>
    <script type="text/javascript" src="./public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./public/js/a53e6faaa3.js" crossorigin="anonymous"></script>
    <script src="./public/js/script.js"></script>
    <script src="./public/js/jquery.js"></script>

    <link rel="stylesheet" type="text/css" href="./public/css/navbar_style.css">
    <link rel="stylesheet" type="text/css" href="./public/css/cart.css">
</head>

<body>
<%- body %>
</body>

</html>
