<div class="bg cal-to-action">
    <div class="container-fluid centered">
        <div class="row">
            <div class="col-6" style="margin: auto;">
                <div class="container">
                    <h3 class="cal-text">Instructors from top universities and organizations.</h3>
                    <h3 class="cal-text">International standard courses in Bangla.</h3">
                        <h3 class="cal-text">Top quality courses</h3">
                </div>
            </div>
            <div class="col-6" style="margin: auto;">
                <section><h1 class="display-3" style="color: black;">Enroll now!</h1></section>
                <section>
                    <button type="button" class="btn btn-lg btn-bg">Enginnering</button>
                    <button type="button" class="btn btn-lg btn-bg">Business</button><br>
                    <button type="button" class="btn btn-lg btn-bg">Maths</button>
                    <button type="button" class="btn btn-lg btn-bg">Skill Development</button>
                    <button type="button" class="btn btn-lg btn-bg">Medical</button><br>
                    <button type="button" class="btn btn-lg btn-bg">Entrepreneurship</button>
                    <button type="button" class="btn btn-lg btn-bg">Test Preparation</button><br>
		    <button type="button" class="btn btn-lg btn-bg">Technical skill works</button>
		    <button type="button" class="btn btn-lg btn-bg">KidsBee</button>
                </section>
                <button type="button" href="" class="btn btn-lg"
                    style="background: black; color: white; border-color: white;">Browse More</button>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
    <!--
        <div class="container schools">
        <a href=""><button class="school button1"><b>Engineering</b></button></a>
        <a href=""><button class="school button2"><b>Business</b></button></a>
        <a href=""><button class="school button3"><b>Skills</b></button></a>
        <a href=""><button class="school button4"><b>Maths</b></button></a>
        <a href=""><button class="school button5"><b>Medical</b></button></a>
        <a href=""><button class="school button5"><b>Entrepreneurship</b></button></a>
        <a href=""><button class="school button5"><b>Test preparation</b></button></a>
	<a href=""><button class="school button5"><b>KidsBee</b></button></a>
    </div>
-->
</div>

<div class="container-fluid" style="margin:0px">
    <div class="row jumbotron">
        <div class="col-md-12 col-lg-8">
            <h3>Take the best database course now</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                fuga.</p>
        </div>
        <div class="col-md-12 col-lg-4">
            <div style="padding-bottom: 2%;">
                <a href="course-description/cd.html"><button class="btn btn-outline-secondary btn-lg" type="button">Read
                        More</button></a>
            </div>
            <div style="padding-top: 2%;">
                <a href="video_player/video_page.html"><button class="btn btn-outline-secondary btn-lg"
                        type="button">Enroll Now</button></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>Learn some cool things about us...</h2>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <div class="col-lg-6">
            <img src="/public/images/face-detect.jpg" class="img-fluid"
                style="height: 300px; display: block; margin:auto;">
        </div>
    </div>
</div>
<hr class="my-4">
<!--card slider tutorial https://www.codeply.com/go/Q60wSmoJHO/bootstrap-4-carousel-card-slider-->
<h3 style="padding-left:100px;">Recent uploads</h3>
<div id="courses" class="container-fluid padding">
    <div class="row">
        <div class="col-sm-12 ">
            <div id="inam" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 1</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusm.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 2</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusmod .
                                            </p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> Course 3</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusmo.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 4</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusm.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 5</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusm.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 6</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusmod .
                                            </p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> Course 7</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusmo.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 8</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusm.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#inam" class="carousel-control-prev" role="button" data-slide="prev"
                    style="height:32px; width:32px; margin:auto">
                    <img src="/public/images/left-arrow.png">
                </a>
                <a href="#inam" class="carousel-control-next" role="button" data-slide="next"
                    style="height:32px; width:32px; margin:auto">
                    <img src="/public/images/right-arrow.png">
                </a>
            </div>
        </div>
    </div>
</div>
<!--second row of courses-->
<hr>
<h3 style="padding-left:100px;">Our Popular courses</h3>
<div id="courses" class="container-fluid padding">
    <div class="row">
        <div class="col-sm-12 ">
            <div id="bnam" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 1</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusm.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 2</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusmod .
                                            </p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> Course 3</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusmo.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 4</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusm.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 5</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusm.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 6</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusmod .
                                            </p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> Course 7</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusmo.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="card">
                                        <a href="#"> <img class="card-img-top" src="https://place-hold.it/700x400"
                                                alt="placeholderimg">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> course 8</h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusm.</p>
                                            <button class="btn btn-warning" type="button">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#bnam" class="carousel-control-prev" role="button" data-slide="prev"
                    style="height:32px; width:32px; margin:auto">
                    <img src="/public/images/left-arrow.png">
                </a>
                <a href="#bnam" class="carousel-control-next" role="button" data-slide="next"
                    style="height:32px; width:32px; margin:auto">
                    <img src="/public/images/right-arrow.png">
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">
<div class="container-fluid padding">
    <h1 style="text-align: center; font-weight: 800;">UPCOMING EVENTS</h1>
    <div class="row padding">
        <div class="col-md-12 col-lg-7" style="display:flex; padding-left:50px; ">
            <img src="/public/images/4.jpg" class="img-fluid"
                style="height: 515px; display: block; margin:auto; box-shadow: 0 30px 60px rgba(0,0,0,.5);">
        </div>
        <div class="col-lg-5" style="display:flex; flex-direction: column; padding-left:0px; padding-right:100px; ">
            <img src="/public/images/5.jpg" class="img-fluid"
                style="height: 250px; margin-bottom:15px; box-shadow: 0 30px 60px rgba(0,0,0,.5);">
            <img src="/public/images/6.jpg" class="img-fluid"
                style="height: 250px; box-shadow: 0 30px 60px rgba(0,0,0,.5);">
        </div>
    </div>
</div>
<hr class="my-4">
<div class="parallax padding"></div>
<div>
    <hr>
    <h1 style="text-align:center; font-weight: 900;">WHAT OUR STUDENTS SAY</h1>
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel" style="margin:auto;text-align: center;">
        <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner"
            style="margin:auto;text-align: center;background-color:white; width:60%; height:400px;">
            <div class="carousel-item active" style=" background-color: white;  height:400px;">
                <img src="/public/images/lector.jpg" alt="lector" class="shadow"
                    style="border-radius:50%; margin:5%;height:40%;">
                <div class="quotes">
                    <h3>consectetur adipiscing elit, sed do eiusm.</h3>
                </div>
            </div>
            <div class="carousel-item" style="background-color: white;  height:400px;">
                <img src="/public/images/lector.jpg" alt="lector" class="shadow"
                    style="border-radius:50%; margin:5%; height:40%;">
                <div class="quotes">
                    <h3>sit amet, consectetur adipiscing elit, sed do eiusm.</h3>
                </div>
            </div>
            <div class="carousel-item" style="background-color: white; height:400px;">
                <img src="/public/images/lector.jpg" alt="lector" class="shadow"
                    style="border-radius:50%; margin:5%; height:40%;">
                <div class="quotes">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</h3>
                </div>
            </div>
        </div>

        <a href="#carouselIndicators" class="carousel-control-prev" role="button" data-slide="prev"
            style="height:32px; width:32px; margin-top:200px ;margin-left:200px;">
            <img src="/public/images/left-arrow.png">
        </a>
        <a href="#carouselIndicators" class="carousel-control-next" role="button" data-slide="next"
            style="height:32px; width:32px;  margin-top:200px ;margin-right:200px;">
            <img src="/public/images/right-arrow.png">
        </a>
    </div>
</div>
<hr>

<div class="teachers container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-4" style="text-align: center;">
            <img src="/public/images/lector.jpg" alt="lector" class="shadow rounded" style="width:300px; height:400px;">
        </div>
        <div class="col-md-12 col-lg-6 ">
            <div style="color:#cc5d00">OUR LECTORS</div>
            <div style="font-size:50px;">Meet our professional lectors</div>
            <div>Eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis
                quis, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit
                adipiscing.</div>
            <div>Eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis
                quis, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit
                adipiscing.</div>
            <div>Eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis
                quis, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit
                adipiscing.</div>
            <a href="https://www.facebook.com/hasnain.karim.104"><button style="margin:50px 0px;"
                    class="btn btn-outline-secondary btn-lg" type="button">Learn More</button></a>
        </div>
    </div>
</div>
<div class="scrollbar" id="style-1">
    <div class="force-overflow"></div>
</div>
